$btn-default-color: #333 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ccc !default;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$line-height-base: 1.428571429 !default; // 20/14

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, 16px, $line-height-base, 4px);

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }
}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}