label{
  margin-bottom:20px;
  width:100%;
  font-size:24px;
  font-family:Arial;
  font-weight:200;
  color: #848383;
}
input{
  display: block;
  width:100%;
  border:0;
  border-bottom:1px solid #c3c2c2;
  background-color:transparent;
  font-size:24px;
  font-family:Avenir-Light;
  color: #848383;
}
textarea{
  display: block;
  width:100%;
  margin-top: 20px;
  border:1px solid #c3c2c2;
  background-color:transparent;
  font-size:24px;
  font-family:Avenir-Light;
  resize:none;
  color: #848383;
}
.errmsg{
  font-family:Arial;
  font-size:20px;
  font-weight:400;
  line-height:1.6;
  color:red;
}