/*带有右箭头的链接效果*/
.link-arrow{
  position:relative;
  padding-right:1.5em;

  &:after{
    content:">>";
    position:absolute;
    top:0;
    right:0;

    display: inline;
    line-height:normal;
    font-size:1em;

    -webkit-transform-origin:center;
    transform-origin:center;

    -webkit-transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &:hover:after{
    -webkit-transform:translateX(.2em);
    transform:translateX(.2em);
  }
}

.link-arrow-capital{
  &:after{
    top:-.2em;
  }
}

