.share-group-p{
  @include position(absolute,0,0);
  display: none;
  width: 100%;
}
.share-group{
  @include position(absolute,null,null,-.5em,.3em);
  font-size: 35px;
  width: 1em;
  background-color: white;

  span[class|=icon]{
    display: block;
    width:1em;
    height:1em;
    /*border:1px solid red;*/
    background-image: url($image-path + 'public/share_icon.png');
    background-repeat: no-repeat;
    background-size:100% auto;
  }

  .icon-facebook{
    background-position:0 0;
  }
  .icon-twitter{
    background-position: 0 -1em;
  }
  .icon-weibo{
    background-position:0 -2em;
  }
  .icon-linkedin{
    background-position:0 -3em;
  }
}

