.chart-view{
  background-color: white;
  /*background-image: -webkit-linear-gradient(left,#80cfcc 0%,#3d549a 100%); !* Safari 5.1 - 6.0 *!
  background-image: -o-linear-gradient(right,#80cfcc 0%,#3d549a 100%); !* Opera 11.1 - 12.0 *!
  background-image: -moz-linear-gradient(right,#80cfcc 0%,#3d549a 100%); !* Firefox 3.6 - 15 *!
  background-image: linear-gradient(right,#80cfcc 0%,#3d549a 100%); !* 标准的语法 *!*/
}

.axis-x{
  .domain{
    stroke:#7d7c7d;
    stroke-dasharray:3 2;
  }
  .tick{
    line{
      //display:none;
      stroke:#7d7c7d;
      stroke-dasharray:2 2;
    }
    text{
      fill:#757575;
      font-size:10px;
      font-weight:normal;
    }
  }
}

.legend{
  .cur{
    line{
      display: block;
    }
    text{
      opacity:1;
    }
  }
  text{
    font-size:(19em/16);
    cursor:pointer;
    fill: white;
    opacity:0.4;
  }
  line{
    display: none;
    stroke: #cb2f82;
    stroke-width: (7em/16);
  }
}

.tips{
  display: none;
  .tips-line{
    stroke-width:1;
    stroke:white;
    stroke-dasharray:3 2;
  }
  .tips-circle{
    fill:white;
  }
  .price{
    fill:white;
  }
}

.lowest,.highest{
  fill:#cb2f82;
  .title{
    font-size: 1em;
  }
  .price{
    font-size:(27em/16);
  }
}

.bottom{
  .price{
    fill:#402f5d;
    font-size:(40em/16);
  }
  .name{
    fill:#cb2f82;
    font-size:(1.2em);
  }
}

@media (max-width: 768px){
  .bottom{
    .price{font-size:1.8em;}
    .name{font-size:1em;}
  }
  svg{
    font-size:10px;
  }
  .axis-x{
    //.col-sm-4:nth-child(3n+4) {
    .tick{
      display: none;
    }
    .tick:nth-child(3n) {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  svg{
    font-size:12px;
  }
}

@media (min-width: 992px) {
  svg{
    font-size:14px;
  }
}

@media (min-width: 1200px) {
  svg{
    font-size:16px;
  }
}

