//
// Grid system
// --------------------------------------------------

// Container widths
.container {
  margin-right: auto;
  margin-left: auto;

  @media (min-width:$screen-sm){
    width:$screen-sm;
  }
  @media (min-width:$screen-md){
    width:$screen-md;
  }
  @media (min-width:$screen-lg){
    width:$screen-lg;
  }
}

// Row
// Rows contain and clear the floats of your columns.
.row {
  @include clearfix();
}

// Columns
// Common styles for small and large grid columns

// Extra small grid
@include make-grid(xs);

// Small grid
@media (min-width: $screen-sm) {
  @include make-grid(sm);
}

// Medium grid
@media (min-width: $screen-md) {
  @include make-grid(md);
}

// Large grid
@media (min-width: $screen-lg) {
  @include make-grid(lg);
}
