$screen-sm-min:$screen-sm;
$screen-md-min:$screen-md;
$screen-lg-min:$screen-lg;

.visible-xs {
  @media (max-width: $screen-sm-min){
    display: block !important;
  }
}
.visible-xs-block {
  @media (max-width: $screen-sm-min) {
    display: block !important;
  }
}
.visible-xs-inline {
  @media (max-width: $screen-sm-min) {
    display: inline !important;
  }
}
.visible-xs-inline-block {
  @media (max-width: $screen-sm-min) {
    display: inline-block !important;
  }
}

.visible-sm {
  @media (min-width: $screen-sm-min){
    display: block !important;
  }
}
.visible-sm-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    display: block !important;
  }
}
.visible-sm-inline {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    display: inline !important;
  }
}
.visible-sm-inline-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    display: inline-block !important;
  }
}

.visible-md {
  @media (min-width: $screen-md-min){
    display: block !important;
  }
}
.visible-md-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    display: block !important;
  }
}
.visible-md-inline {
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    display: inline !important;
  }
}
.visible-md-inline-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    display: inline-block !important;
  }
}


.visible-lg-block {
  @media (min-width: $screen-lg-min) {
    display: block !important;
  }
}
.visible-lg-inline {
  @media (min-width: $screen-lg-min) {
    display: inline !important;
  }
}
.visible-lg-inline-block {
  @media (min-width: $screen-lg-min) {
    display: inline-block !important;
  }
}

@mixin responsive-invisibility{
  display: none !important;
}
.hidden-xs {
  @media (max-width: $screen-sm-min) {
    @include responsive-invisibility;
  }
}
.hidden-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    @include responsive-invisibility;
  }
}
.hidden-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    @include responsive-invisibility;
  }
}
.hidden-lg {
  @media (min-width: $screen-lg-min) {
    @include responsive-invisibility;
  }
}




