// Positioning stuff
@mixin position($position,$l:null,$t:null,$r:null,$b:null,$z:99) {
  position: $position;
  @if($l){
    left: $l;
  }
  @if($t){
    top:$t;
  }
  @if($r){
    right: $r;
  }
  @if($b){
    bottom: $b;
  }
  z-index: $z;
}

@mixin box($dis:block,$w:false,$h:false){
  @if $dis!=block{
    display: $dis;
  }
  @if $w{
    width:$w;
  }
  @if $h{
    height:$h;
  }
}
